/* #BACKGROUNDS */
/* ================================================== */

.Austen {
  .person, &.person {background-image: url("Images/Characters/Austen-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Austen-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Austen-person.svg"), url("Images/Characters/Austen-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Austen;}
  .color-box-50, &.color-box-50 {background-color: $Austen-50;}
  .color-box-35, &.color-box-35 {background-color: $Austen-35;}
}

.Bryce  {
  .person, &.person {background-image: url("Images/Characters/Bryce-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Bryce-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Bryce-person.svg"), url("Images/Characters/Bryce-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Bryce;}
  .color-box-50, &.color-box-50 {background-color: $Bryce-50;}
  .color-box-35, &.color-box-35 {background-color: $Bryce-35;}
}

.Carson {
  .person, &.person {background-image: url("Images/Characters/Carson-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Carson-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Carson-person.svg"), url("Images/Characters/Carson-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Carson;}
  .color-box-50, &.color-box-50 {background-color: $Carson-50;}
  .color-box-35, &.color-box-35 {background-color: $Carson-35;}
}

.Darcy  {
  .person, &.person {background-image: url("Images/Characters/Darcy-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Darcy-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Darcy-person.svg"), url("Images/Characters/Darcy-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Darcy;}
  .color-box-50, &.color-box-50 {background-color: $Darcy-50;}
  .color-box-35, &.color-box-35 {background-color: $Darcy-35;}
}

.Ellis  {
  .person, &.person {background-image: url("Images/Characters/Ellis-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Ellis-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Ellis-person.svg"), url("Images/Characters/Ellis-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Ellis;}
  .color-box-50, &.color-box-50 {background-color: $Ellis-50;}
  .color-box-35, &.color-box-35 {background-color: $Ellis-35;}
}

.Faye   {
  .person, &.person {background-image: url("Images/Characters/Faye-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Faye-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Faye-person.svg"), url("Images/Characters/Faye-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Faye;}
  .color-box-50, &.color-box-50 {background-color: $Faye-50;}
  .color-box-35, &.color-box-35 {background-color: $Faye-35;}
}

.Gael   {
  .person, &.person {background-image: url("Images/Characters/Gael-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Gael-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Gael-person.svg"), url("Images/Characters/Gael-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Gael;}
  .color-box-50, &.color-box-50 {background-color: $Gael-50;}
  .color-box-35, &.color-box-35 {background-color: $Gael-35;}
}

.Hollis {
  .person, &.person {background-image: url("Images/Characters/Hollis-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Hollis-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Hollis-person.svg"), url("Images/Characters/Hollis-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Hollis;}
  .color-box-50, &.color-box-50 {background-color: $Hollis-50;}
  .color-box-35, &.color-box-35 {background-color: $Hollis-35;}
}

.Inez   {
  .person, &.person {background-image: url("Images/Characters/Inez-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Inez-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Inez-person.svg"), url("Images/Characters/Inez-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Inez;}
  .color-box-50, &.color-box-50 {background-color: $Inez-50;}
  .color-box-35, &.color-box-35 {background-color: $Inez-35;}
}

.Jaden  {
  .person, &.person {background-image: url("Images/Characters/Jaden-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Jaden-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Jaden-person.svg"), url("Images/Characters/Jaden-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Jaden;}
  .color-box-50, &.color-box-50 {background-color: $Jaden-50;}
  .color-box-35, &.color-box-35 {background-color: $Jaden-35;}
}

.Kai    {
  .person, &.person {background-image: url("Images/Characters/Kai-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Kai-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Kai-person.svg"), url("Images/Characters/Kai-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Kai;}
  .color-box-50, &.color-box-50 {background-color: $Kai-50;}
  .color-box-35, &.color-box-35 {background-color: $Kai-35;}
}

.Linden {
  .person, &.person {background-image: url("Images/Characters/Linden-person.svg");}
  .circle, &.circle {background-image: url("Images/Characters/Linden-circle.svg");}

  .person-circle, &.person-circle {
    background-image: url("Images/Characters/Linden-person.svg"), url("Images/Characters/Linden-circle.svg");
    background-position: right top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .color-box, &.color-box {background-color: $Linden;}
  .color-box-50, &.color-box-50 {background-color: $Linden-50;}
  .color-box-35, &.color-box-35 {background-color: $Linden-35;}

}

.character-box {
  float: right;
  position: relative;
  height: 330px;
  @include media-breakpoint-up(sm){ margin: 0 -41.5px; }
  @include media-breakpoint-up(md){ margin: 0 -61.5px; }

  &:first-of-type {
    margin-right: -60px;
    margin-left: -80px;

    @include media-breakpoint-up(sm){ margin-right: -10px; }
    @include media-breakpoint-up(md){ margin: 0 -61.5px; }
  }

  .person, .circle, .person-circle {
    width: 256px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.people-bg {
  position: absolute;
  min-height: 300px;
  min-width: 300px;
  right: 0;
  top: -170px; 
  z-index: 5;
  overflow: hidden;
  @include media-breakpoint-up(sm){
    overflow: visible;
    top: -130px;
    right: -80px;
  }
  @include media-breakpoint-up(md){ top:-170px; right: 40px; }
}

/* #Page Banner Backgrounds */
/* ================================================== */
.about .page-banner        { background-image: url(Images/office-bg.svg) !important; }
.requirements .page-banner { background-image: url(Images/requirements-bg.svg) !important; }
.application .page-banner  { background-image: url(Images/application-bg.svg) !important; }
.resources .page-banner    { background-image: url(Images/library-bg.svg) !important; }


.competencies .page-banner         { background-image: url(Images/classroom-bg.svg) !important; }
.community-experience .page-banner { background-image: url(Images/experience-bg.svg) !important; }
.engagement-portfolio .page-banner { background-image: url(Images/portfolio-bg.svg) !important; }

.key-concepts-about-community-engaged-scholarship-at-msu .page-banner { background-image: url(Images/portfolio-bg.svg) !important; }


/* #Page Banner Backgrounds Position Overrides*/
/* ================================================== */
.requirements .page-banner { background-position: center bottom;}
.application .page-banner { background-position: center bottom;}
