/* #COLORS */
/* ================================================== */

/* #Framework Colors */
/* ================================================== */
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;


/* #Social Colors */
/* ================================================== */
$twitter:                   #1da1f2;
$facebook:                  #3b5998;
$youtube:                   #ff0000;
$instagram:                 #c32aa3;
$rss:                       #F4911E;
$linkedin:                  #007bb5;
$snapchat:                  #fffc00;
$google:                    #4285f4;

/* #MSU Colors */
/* ================================================== */
$msu-green:                 #18453B;

/* #Theme Colors */
/* ================================================== */
// Custom Colors for Site.

// In case you need more than three theme colors
// quaternary, quinary, senary, septenary, octonary, nonary, denary

/* Transparent HEX Code Values */
// 100% — FF
// 95% — F2
// 90% — E6
// 85% — D9
// 80% — CC
// 75% — BF
// 70% — B3
// 65% — A6
// 60% — 99
// 55% — 8C
// 50% — 80
// 45% — 73
// 40% — 66
// 35% — 59
// 30% — 4D
// 25% — 40
// 20% — 33
// 15% — 26
// 10% — 1A
// 5% — 0D
// 0% — 00

$fc-body: $gray;

$color1: #18453b;
$color2: #2a7771;
$color3: #008183;
$color4: #b76256;
$color5: #f2f0da;
$color6: #ffffff;
$color7: #7d579a;
$color8: #C2C76C;

$color1-30: #18453b4D;
$color2-30: #2a77714D;
$color3-30: #0081834D;
$color4-30: #b762564D;
$color5-30: #f2f0da4D;
$color6-30: #ffffff4D;
$color7-30: #7d579a4D;
$color8-30: #C2C76C4D;

$color1-15: #18453b26;
$color2-15: #2a777126;
$color3-15: #00818326;
$color4-15: #b7625626;
$color5-15: #f2f0da26;
$color6-15: #ffffff26;
$color7-15: #7d579a26;
$color8-15: #C2C76C26;

$theme-primary:              $color3;
$theme-primary-light:        lighten($theme-primary, 10%);
$theme-primary-dark:         darken($theme-primary, 10%);
$theme-primary-faded:        $color3-30;
$theme-primary-faded-light:  $color3-15;

$theme-secondary:            $color7;
$theme-secondary-dark:       darken($theme-secondary, 10%);
$theme-secondary-light:      lighten($theme-secondary, 10%);
$theme-secondary-faded:       $color7-30;
$theme-secondary-faded-light: $color7-15;

$theme-tertiary:             $color1;
$theme-tertiary-light:       lighten($theme-tertiary, 10%);
$theme-tertiary-dark:        darken($theme-tertiary, 10%);
$theme-tertiary-faded:       $color1-30;
$theme-tertiary-faded-light: $color1-15;

$theme-quaternary:             $color8;
$theme-quaternary-light:       lighten($theme-quaternary, 10%);
$theme-quaternary-dark:        darken($theme-quaternary, 10%);
$theme-quaternary-faded:       $color8-30;
$theme-quaternary-faded-light: $color8-15;

$theme-accent:            	 $color4;
$theme-accent-light:       	 lighten($theme-accent, 10%);
$theme-accent-dark:       	 darken($theme-accent, 15%);
$theme-accent-faded:         $color4-30;
$theme-accent-faded-light:   $color4-15;

$theme-link-color:           $theme-primary;
$theme-link-color-dark:      darken($theme-link-color, 10%);

$theme-link-highlight:       $theme-primary;

$faded-green:                rgba(128, 171, 162, 1);
$faded-green-30:             rgba(128, 171, 162, 0.3);

.fc-body       {color: $fc-body !important;}
.fc-primary    {color: $theme-primary !important; }
.fc-secondary  {color: $theme-secondary !important; }
.fc-tertiary   {color: $theme-tertiary !important; }
.fc-quaternary {color: $theme-quaternary !important; }
.fc-accent     {color: $theme-accent !important; }

.disabled > a {
  color: $theme-primary-dark !important;
  &:hover {color: $theme-primary !important;}
}

/* #People Colors */
/* ================================================== */
$Austen: #D4E4E2;
$Bryce:  #478EB0;
$Carson: #C2C76C;
$Darcy:  #E3AFBE;
$Ellis:  #D87F27;
$Faye:   #A489B8;
$Gael:   #FFD277;
$Hollis: #C26558;
$Inez:   #00A9A3;
$Jaden:  #F69362;
$Kai:    #AB5A8E;
$Linden: #F88379;

$Austen-50: #D4E4E280;
$Bryce-50:  #478EB080;
$Carson-50: #C2C76C80;
$Darcy-50:  #E3AFBE80;
$Ellis-50:  #D87F2780;
$Faye-50:   #A489B880;
$Gael-50:   #FFD27780;
$Hollis-50: #C2655880;
$Inez-50:   #00A9A380;
$Jaden-50:  #F6936280;
$Kai-50:    #AB5A8E80;
$Linden-50: #F8837980;

$Austen-35: #D4E4E259;
$Bryce-35:  #478EB059;
$Carson-35: #C2C76C59;
$Darcy-35:  #E3AFBE59;
$Ellis-35:  #D87F2759;
$Faye-35:   #A489B859;
$Gael-35:   #FFD27759;
$Hollis-35: #C2655859;
$Inez-35:   #00A9A359;
$Jaden-35:  #F6936259;
$Kai-35:    #AB5A8E59;
$Linden-35: #F8837959;
