/* #HOME */
/* ================================================== */

#home {

  .logo {
    position: absolute;
    top: 120px;

    @include media-breakpoint-up(sm) {
      width: calc(#{$logo-width} * 1.25);
      height: calc(#{$logo-height} * 1.25);
    }

    @include media-breakpoint-up(md) {
      width: calc(#{$logo-width} * 1.5);
      height: calc(#{$logo-height} * 1.5);
    }

    @include media-breakpoint-up(xl) {
      width: calc(#{$logo-width} * 1.85);
      height: calc(#{$logo-height} * 1.85);
      left: 40px;
    }
  }

  .intro {
    position: relative;
    margin-top: 70px;
    font-size: 12px;
    @include media-breakpoint-up(sm){ font-size: 16px; margin-top: 90px; }
    @include media-breakpoint-up(md){ margin-top: 115px; }
    @include media-breakpoint-up(xl){ margin-top: 135px; }

    h2 {
      color: $theme-primary;
      font-weight: normal;
      font-size: 12px;
      @include media-breakpoint-up(sm){ font-size: 16px; }
      @include media-breakpoint-up(xl){ left: 40px; }
    }

    .deadline {
      background-color: $theme-accent;
      color: white;
      line-height: 1.5;
      padding: 6px;
      position: relative;
      top: 6px;
      left: 10px;

      @include media-breakpoint-up(lg){ margin-right: 50px; }
      @include media-breakpoint-up(xl){ margin-right: 30px; }


      @include media-breakpoint-up(xl){ left: 50px; }
    }

    strong { font-weight: 900; }

    a {
      font-size: 13px;
      margin-left: 6px;
      @include media-breakpoint-up(xl){ margin-left: 46px; }
    }
  }
}

.people-bg .circle {
  position: absolute;
  top: 0;
  z-index: -1;
}
