/* #INFO-SESSION */
/* ================================================== */

.info-session {
  margin-top: -30px;

  h2 { line-height: 1; color: $gray-dark;}

  p {
    font-size: 14px;
    line-height: 1.3;

    @include media-breakpoint-up(sm) { font-size: 16px; }
  }

  .date {font-weight: 900; font-size: 18px;}

  .character-box { margin-left: -85px; margin-right: 77px; }

  @media (min-width: 400px){
    .character-box {  margin-left: -70px; margin-right: 70px; }
  }

  .character-box {
    @include media-breakpoint-up(md){ margin-left: 30px; margin-right: 30px;}
    @include media-breakpoint-up(lg){ margin-left: 30px; margin-right: -40px;}
    @include media-breakpoint-up(xl){ margin-left: 30px; margin-right: -70px;}
  }

  .content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
  }
}
