/* #Pages */
/* ================================================== */

table p { margin-bottom: 0; }

/* #Inner Pages */
/* ================================================== */
.page-banner {
  background-image: url(Images/office-bg.svg);
  // ^ Default page banner background image set is here.
  //   The individual page banner backgrounds are set in backgrounds.scss

  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  position: relative;
  min-height: 330px;
  // margin-bottom: 30px;
  // margin-top: -40px;
  margin-bottom: -20px;
  margin-top: -80px;
  transform: scale(0.8);


  .people-bg {
    top: 0;
    right: 27%;
    overflow: visible;

    @include media-breakpoint-up(sm) { right: 15%; }
    @include media-breakpoint-up(md) { right: 20%; }
    @include media-breakpoint-up(lg) { right: 30%; }

  }

  .character-box {
    margin: 0 -61.5px;
  }
}

.page-title {
  font-size: 3rem;
}




/* #Contact */
/* ================================================== */
.contact #Main dl dd {margin-bottom: -2px;}



/* #Requirements */
/* ================================================== */
.requirements-list {
  @extend .row;
  list-style-type: none;
  padding: 0;

  li {
    @extend .col-md-4;

    h2 br {
      @extend .d-none;
      @extend .d-md-block;
    }
  }

  .btn {
    transform: scale(.75);
    transform-origin: top left;
  }
}

.requirements-nav {
  background-color: $gray-200;
  display: block;
  padding-bottom: 8px;
  padding-right: 20px;
  border-radius: 4px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md){
    padding-bottom: 0;
  }

  .parent {
    background-color: $theme-primary;
    color: white;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 18px;
    border-top-left-radius: 4px;

    @include media-breakpoint-up(md) {
      border-radius: 4px 0 0 4px;
      margin-bottom: 0;
    }

    &:before {
      content: "";
      background-color: inherit;
      display: block;
      height: 50%;
      width: 15px;
      position: absolute;
      top: 0;
      right: -10px;
      transform: skewX(20deg);
    }

    &:after {
      content: "";
      background-color: inherit;
      display: block;
      height: 50%;
      width: 15px;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: skewX(-20deg);
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    background-color: $gray-200;
    padding: 10px 0px;
    border-radius: 4px;
    display: inline;
  }

  li {
    margin-bottom: 10px;
    padding-left: 10px;
    @include media-breakpoint-up(md){ display: inline; }

    a {
      padding: 6px 10px;

      &:hover, &:focus {
        background-color: $theme-primary;
        outline: none;
        text-decoration: underline;
        border: none;
        color: white;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
        padding: 12px 10px;
      }
    }
  }
}



/* #Competencies */
/* ================================================== */

table.seminar {
padding: 0;
margin: 0 0 20px 0;
border: 1px solid #d1cfce;
width: 100%;

  th {
    padding: 10px;
    border: 1px solid $gray-800;
    background-color: $gray-700;
    color: white;
  }

  td {
    padding: 10px;
    vertical-align: center;
    border: 1px solid $gray-400;

    &.datetime {
      min-width: 150px;
      background: $gray-300;

      .date {font-weight: bold;}
      .time, .room { @extend .small; }
    }
  }
}

table.fall {
  th {
    border: 1px solid $theme-primary-dark;
    background-color: $theme-primary;
    color: white;
  }

  td {
    border: 1px solid $theme-primary-faded;

    &.datetime {
      background: $theme-primary-faded-light;
    }
  }
}

table.spring {
  th {
    border: 1px solid $theme-secondary-dark;
    background-color: $theme-secondary;
    color: white;
  }

  td {
    border: 1px solid $theme-secondary-faded;

    &.datetime {
      background: $theme-secondary-faded-light;
    }
  }
}



/* #Community Experience */
/* ================================================== */

.community-experience {
  h2:not(.info-session h2) {@extend .fc-secondary;}

  @include media-breakpoint-down(md){
    .btn-theme {
      font-size: 12px;
      display: block;
      text-align: center;
    }
  }
}



/* #Mentored Community Engagement Experience Guidelines */
/* ================================================== */

.mentored-community-engagement-experience-guidelines {
  h2:not(.info-session h2) {@extend .fc-secondary;}
}

.activities-log-table {
  th, td { vertical-align: middle; }
  @include media-breakpoint-up(sm){
    #date { min-width: 140px; }
    #hours { min-width: 85px; }
  }
}


/* #Engagement Portfolio */
/* ================================================== */

.engagement-portfolio, .written-portfolio-guidelines, .portfolio-presentation-guidelines {
  h2:not(.info-session h2) {@extend .fc-accent;}

  @include media-breakpoint-down(md){
    .btn-theme {
      font-size: 12px;
      display: block;
      text-align: center;
    }
  }
}



/* #Key Concepts */
/* ================================================== */

.scholarship-figure{
  @include media-breakpoint-up(md) {display: flex;}

  .col {
    min-height: 200px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 0 50px;
    @include media-breakpoint-up(md){
      text-align: left;
      padding-right: 0;
    }

    &:nth-child(1) {
      background-color: $theme-primary;
      @include media-breakpoint-up(md){ padding-left: 30px; }
    }

    &:nth-child(2) {
      background-color: darken($theme-primary, 5%);
    }

    &:nth-child(3) {
      background-color: darken($theme-primary, 10%);
    }

    &:nth-child(4) {
      background-color: darken($theme-primary, 15%);
      @include media-breakpoint-up(md){ padding-left: 0; }
      &::before, &::after { display: none; }
    }

    @include media-breakpoint-down(md){
      &:nth-child(n+2){
        padding-top: 40px;
      }
    }

    p {
      margin: 0;
      line-height: 1.25;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: inherit;

      width: 50%;
      height: 50px;
      transform: skewY(6deg);
      left: 0;
      top: calc(100% - 30px);

      @include media-breakpoint-up(md){
        width: 40px;
        height: 50%;
        left: calc(100% - 30px;);
        top: 0;
        transform: skewX(12deg);
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      background-color: inherit;

      width: 50%;
      height: 50px;
      transform: skewY(-6deg);
      right: 0;
      top: calc(100% - 30px);

      @include media-breakpoint-up(md){
        width: 40px;
        height: 50%;
        right: -10px;
        top: 50%;
        transform: skewX(-12deg);
      }
    }
  }
}

.key-concepts {
  font-size: 90%;
  border: 1px solid $theme-primary;

  thead {
    background-color: $theme-primary !important;
    color: white;
  }

  th { border: 1px solid $theme-primary-dark !important; }
  td { border: 1px solid $theme-primary !important; }

  h2 { font-size: 1.2rem; }
}
