$gotham: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;
$source-serif: 'source-serif-pro', serif;

.gotham { font-family: $gotham; }
.source-serif-pro { font-family: $source-serif; }

body {
	font: 16px/24px $gotham;
	color: $fc-body;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 800; }

h1 { text-transform: capitalize; font-weight: 900;}

@media (max-width: 350px) {
	h1{ font-size: 2rem;}
	h2{ font-size: 1.75rem;}
}

h2 { color: $theme-primary;}

.fax a { color: $gray !important; }

abbr { text-decoration: none; }
