#MSUmasthead a, .site-masthead h1 a {
  &:hover, &:focus {
    outline: 3px solid $theme-link-highlight;
    outline-offset: 3px;
    display: inline-block;
  }
}

#MSUSearchTool input#q:hover, #MSUSearchTool input#q:focus {
  box-shadow: 0 0 0 3px $theme-link-highlight;
  border-radius: 4px 0px 0px 4px;
  height: 26px;
}

#MSUSearchTool input#btn_search:hover, #MSUSearchTool input#btn_search:focus {
  box-shadow: 0 0 0 3px $theme-link-highlight;
  border-radius: 0px 4px 4px 0px;
  height: 26px;
}

nav li a {
  &:hover, &:focus {
    box-shadow: 0 0 0 3px lighten($theme-link-highlight, 10%);
    border-radius: 4px;
    outline: none;
  }
}

.dropdown-menu {
    > li {
        > a {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            color: transparent;
            font-size: 6px;
            position: relative;
            top: -2px;
            padding-right: 5px;
          }

          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            color: transparent;
            font-size: 6px;
            position: relative;
            top: -2px;
            padding-left: 5px;
          }

            &:hover, &:focus {
                &::before {
                  color: inherit;
                }

                &::after {
                  color: inherit;
                }
            }
        }
    }
}


.btn {
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;

  &::before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    color: transparent;
    font-size: 6px;
    position: relative;
    padding-right: 5px;
  }

  &::after {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    color: transparent;
    font-size: 6px;
    position: relative;
    padding-left: 5px;
  }

    &:hover, &:focus {
        &::before {
          color: inherit;
        }

        &::after {
          color: inherit;
        }
    }
}

.menu-btn {
  &:hover, &:focus {
    box-shadow: 0 0 0 3px $theme-link-highlight;
    border-radius: 4px;
    outline: none;
  }

  &::before {
    content: none;
  }

  &::after {
    content: none;
  }

    &:hover, &:focus {

        &::before {
          content: none;
        }

        &::after {
          content: none;
        }
    }
}

p a {
  text-decoration: underline;
}

main a {
      &:not(.btn) {

      &:hover, &:focus {
        text-decoration: none;
        margin-bottom: 5px;
        border-bottom: 2px solid lighten($theme-link-highlight, 15%);
        outline: 3px solid $theme-link-highlight;
        outline-offset: 2px;
      }
    }
  }

footer a {
      &:not(.btn) {

      &:hover, &:focus {
        outline: 3px solid lighten($theme-link-highlight, 50%);
        outline-offset: 2px;
      }
    }
  }

  .footer-MSU-wordmark {
    display: inline-block;
  }
